.card {
  border: none;
}
.header {
  font-family: "Cabin", sans-serif;
  font-size: 8rem;
  font-weight: 700;
  margin-top: 9.2rem;
}

.header-text {
  font-family: "Cabin", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  padding: 2.8rem 9.5rem 11.3rem 9.5rem;
}
.learn-how {
  padding: 0.5rem 2rem;
  margin-top: -2rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}
.repeating-h1 {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin-top: 3rem;
}
.repeating-h2 {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1.6rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}
.repeating-h2-name {
  color: #024a63;
  padding-top: 6rem;;
  font-family: "Cabin", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1.6rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}
.repeating-h3 {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  margin-top: -2.5rem; 
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}
.repeating-h1-1 {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.h3 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;

  color: #024A63;
}

.slide {
  padding-top: 6rem;
  padding-left: 14.5rem;
  padding-right: 14.5rem;
}

.card-title {
  font-family: "Cabin", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
}

.card-text {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}


.container {
  margin-top: 2rem;
  margin-left: 16rem;
  margin-right: 16rem;
  background: #BEDEDF;
  border-radius: 7rem;
}
.ambasadors{
  background: #BEDEDF;
  border-radius: 10.3rem;
}

.accordion {
  margin-bottom: 3.2rem;
  background-color: #e2f0ef !important;
}

.accordion-body {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
}
.button-accordian {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 4rem 2rem 4rem;
  outline: none;
  background-color:#ff7c5c;;
  border: 0rem;
  border-radius: 4.3rem;
  color: white;
  width: 25.4rem;
}
.container-2 {
  width: 118rem;
  height: 523px;
  left: 59px;
  top: 1618px;
  
  background: #FFFFFF;
  border: 1px solid #024A63;
  box-sizing: border-box;
  margin-left: 4rem;
  border-radius: 58px;
  }

  .col-8 {
  width: 781px;
  height: 168px;
  left: 549px;
  top: 1796px;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #024A63;
  }

.rounded-circle-am{
  padding-top: 10rem;
  padding-left: 3rem;
  width: 35rem;
  border-radius: 50%;
}