.card {
  border: none;
}
section.header-image-about {
  min-height: 50vh;
  background: url("../imgs/aboutus/header1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p.header-about {
  font-family: "Cabin", sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 9.2rem;
}

p.header-text-about {
  font-family: "Cabin", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  padding: 2.8rem 8rem 11.3rem 8rem;
}
.learn-how-about {
  padding: 0.5rem 3.5rem;
  margin-top: -2rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}
.repeating-h1-about {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.repeating-h2-about {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 2.4rem;
  font-weight: bold !important;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.repeating-h2-name {
  color: #024a63;
  padding-top: 4rem;
  padding-left: 1rem;
  font-family: "Cabin", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}
.repeating-h3-about {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  margin-top: -2.5rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}
.repeating-h1-1-about {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.h3-about {
  padding-top: 0rem;
  padding-bottom: 2rem;
  margin-top: -1.5rem;
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 36px;
  display: flex;
  align-items: center;

  color: #024a63;
}
.repeating-h3-team {
  color: #024a63;
  padding-top: 0.4rem;
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  margin-top: -2.5rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
}
.h3-description {
  color: #024a63;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  margin-top: -2.5rem;
  margin-bottom: -4rem;
}
.h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7rem;
  padding-top: 1rem;
  font-style: italic;
  text-align: center;
  color: #024a63;
}

.container-about {
  margin-top: 2rem;
  margin-left: 16rem;
  margin-right: 16rem;
  background: #bededf;
  border-radius: 7rem;
}
.ambasadors {
  background: #bededf;
  border-radius: 10.3rem;
}

.accordion-about {
  margin-bottom: 3.2rem;
  margin-top: -1rem;
}

.accordion-body-about {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
}
.button-accordion-about {
  font-family: "Cabin", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1rem 3rem 1rem 3rem;
  outline: none;
  background: #ff7c5c;
  border: 0rem solid white;
  border-radius: 4.3rem;
  color: white;
  width: 13rem;
  height: 4rem;

  margin-top: -5rem;
  margin-bottom: -3rem;
  margin-left: -3rem;
  margin-right: -3rem;
}
.container-2 {
  width: 80rem;
  height: 50rem;
  left: 55px;
  top: 1618px;

  background: #ffffff;
  border: 1px solid #024a63;
  box-sizing: border-box;
  margin-left: 15rem;
  border-radius: 58px;
}

.col-8 {
  width: 781px;
  height: 168px;
  left: 549px;
  top: 1796px;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #024a63;
}

.rounded-circle-am {
  padding-top: 7rem;
  padding-left: 3rem;
  width: 35rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.interview {
  padding: 1.1rem 2rem;
  margin-top: 3rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}

.bi-instagram {
  margin-top: -5rem;
  font-size: 2.5rem;
  padding-top: 0.8rem;
}
.bi-facebook {
  margin-top: -5rem;
  margin-left: 2rem;
  padding-top: 0.8rem;
  font-size: 2.5rem;
}

.il {
  font-size: 1.75rem;
  line-height: 1.6rem;
  margin-top: 0.6rem;
}

.rounded {
  margin-top: 5rem;
  width: 20%;
}
.rounded-circle-team {
  margin-left: -0.5rem !important;
}
.repeating-h2-iggy {
  color: #024a63;
  padding-top: 4rem;
  font-family: "Cabin", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: -2.5rem;
  margin-bottom: 3rem;
}
.repeating-h3-iggy {
  color: #024a63;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Cabin", sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  font-style: normal;
  margin-top: -2.5rem;
  margin-bottom: 0.5rem !important;
}
//iPhone and mobile devices
@media all and (min-width: 320px) and (max-width: 499px) {
  section.header-image-about {
    min-height: 60vh !important;
    background: url("../imgs/aboutus/header1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    p.header-about {
      font-size: 4rem !important;
      font-weight: 700 !important;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      line-height: 4.5rem;
    }
    p.header-text-about {
      font-size: 2rem !important;
      font-weight: 400;
      margin-left: 2rem !important;
      margin-right: 2rem !important;
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
  }
  .repeating-h1-about {
    font-size: 3.2rem !important;
    font-weight: bold;
    margin-top: 3rem;
  }
  .repeating-h1-1-about {
    font-size: 3.5rem !important;
    font-weight: 700;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
  }
  .repeating-h2-about {
    font-size: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
    text-align: center;
  }
  .repeating-h2-name {
    font-size: 1.5rem !important;
    margin-top: -2.75rem !important;
    line-height: 3rem !important;
  }
  .repeating-h2-iggy {
    color: #024a63;
    padding-top: 4rem;
    font-family: "Cabin", sans-serif;
    font-size: 2rem !important;
    font-weight: 600;
    margin-top: -3rem !important;
    margin-bottom: 3rem;
  }
  .repeating-h3-iggy {
    color: #024a63;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem !important;
    font-weight: normal;
    font-style: normal;
    margin-top: -3rem !important;
    margin-bottom: 6rem;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  .repeating-h3-about {
    font-size: 0.85rem !important;
    margin-top: -3.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .h3-about {
    padding-top: 0rem;
    padding-bottom: 1rem !important;
    margin-top: -3rem !important;
    font-size: 1.1rem !important;
    padding-left: 0.8rem;
  }
  .h3-description {
    font-size: 1rem !important;
    font-weight: normal;
    font-style: normal;
  }
  .repeating-h3-team {
    color: #024a63;
    padding-top: 0.4rem;
    font-family: "Cabin", sans-serif;
    font-size: 1.3rem !important;
    font-weight: normal;
    font-style: normal;
    margin-top: -2.5rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
  }
  .button-accordion-about {
    font-size: 0.75rem !important;
    padding: 1rem 1rem 1rem 1rem !important;
    width: 5rem !important;
    height: 2.2rem !important;
    outline: none !important;
    border: 0rem solid white !important;
    border-radius: 5rem !important;
    text-align: center;

    margin-top: -5rem !important;
    margin-bottom: -5rem !important;
    margin-left: -2rem !important;
    margin-right: -2rem !important;
  }
  .container-about {
    width: 30rem !important;
    margin: auto !important;
  }
  .container-2 {
    width: 30rem !important;
    height: 35rem !important;
    left: 5px;
    top: 1618px;
    text-align: left;
    background: #ffffff;
    border: 1px solid #024a63;
    box-sizing: border-box;
    margin: auto !important;
    border-radius: 58px;
  }
  .col-sm {
    width: 100px !important;
  }
  .col-md {
    width: 100px !important;
  }
  .rounded-circle-team {
    margin-left: 0.4rem !important;
  }
  .col-4 {
    display: none !important;
  }
  .col-8 {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0.5rem;
  }
  .interview {
    padding: 0rem 2rem !important;
    margin-top: -6rem !important;
    margin-left: 3rem !important;
    font-size: 0.8rem !important;
    height: 2rem !important;
  }
  .bi-instagram {
    font-size: 1.5rem !important;
    margin-left: 15rem !important;
    margin-top: -2.75rem !important;
  }
  .bi-facebook {
    margin-left: 1rem !important;
    font-size: 1.75rem !important;
    margin-top: -2.75rem !important;
  }
  .h3-description {
    font-size: 1rem !important;
    padding-right: 1rem !important;
    padding-left: 0.5rem !important;
    margin-bottom: -2rem !important;
  }
  .list {
    margin-top: -1rem !important;
  }
  .il {
    font-size: 0.9rem !important;
    line-height: 1.2rem !important;
    margin-top: 0rem !important;
    padding-right: 0.1rem;
    margin-left: -1.1rem;
  }
  .rounded {
    margin-top: 5rem;
    width: 30% !important;
  }
}
//iPad Screen
@media all and (min-width: 500px) and (max-width: 768px) {
  section.header-image-about {
    min-height: 50vh !important;
    background: url("../imgs/aboutus/header1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    p.header-about {
      font-size: 5rem !important;
      margin-top: 6rem !important;
      margin-bottom: 0rem;
    }
    p.header-text-about {
      font-size: 2.8rem !important;
      margin-left: 3rem !important;
      margin-right: 3rem !important;
      margin-top: 0rem;
      margin-bottom: 5rem !important;
    }
  }
  .learn-how-about {
    padding: 0.5rem 3.5rem;
    margin-top: -2rem;
    background: #ff7c5c;
    border: 0rem solid white;
    color: white;
    font-size: 1.5rem !important;
    font-weight: 600;
    border-radius: 4.3rem;
    font-family: "Cabin", sans-serif;
  }
  .repeating-h1-about {
    font-size: 3.2rem !important;
    font-weight: bold;
    margin-top: 3rem;
  }
  .repeating-h1-1-about {
    font-size: 3.5rem !important;
    font-weight: 700;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
  }
  .repeating-h2-about {
    font-size: 0.82rem !important;
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
  }
  .repeating-h2-name {
    font-size: 1.8rem !important;
    margin-top: -2.75rem !important;
    line-height: 3rem !important;
  }
  .repeating-h2-iggy {
    color: #024a63;
    padding-top: 4rem;
    font-family: "Cabin", sans-serif;
    font-size: 2.1rem !important;
    font-weight: 600;
    margin-top: -3rem !important;
    margin-bottom: 3rem;
  }
  .repeating-h3-iggy {
    color: #024a63;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem !important;
    font-weight: normal;
    font-style: normal;
    margin-top: -3rem !important;
    margin-bottom: 6rem;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .repeating-h3-about {
    font-size: 0.85rem !important;
    margin-top: -3.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .h3-about {
    padding-top: 0rem;
    padding-bottom: 1rem !important;
    margin-top: -3rem !important;
    font-size: 1.5rem !important;
    padding-left: 0.8rem;
  }
  .h3-description {
    font-size: 5px !important;
    font-weight: normal;
    font-style: normal;
  }
  .repeating-h3-team {
    color: #024a63;
    padding-top: 0.4rem;
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem !important;
    font-weight: normal;
    font-style: normal;
    margin-top: -2.5rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
  }
  .button-accordion-about {
    font-size: 0.8rem !important;
    padding: 1rem 1rem 1rem 1rem !important;
    width: 6.5rem !important;
    height: 2.6rem !important;
    outline: none !important;
    border: 0rem solid white !important;
    border-radius: 5rem !important;

    margin-top: -5rem !important;
    margin-bottom: -5rem !important;
    margin-left: -3rem !important;
    margin-right: -3rem !important;
  }
  .container-about {
    width: 40rem !important;
    margin: auto !important;
  }
  .container-2 {
    width: 40rem !important;
    height: 35rem !important;
    left: 5px;
    top: 1618px;
    text-align: left;
    background: #ffffff;
    border: 1px solid #024a63;
    box-sizing: border-box;
    margin: auto !important;
    border-radius: 58px;
  }
  .col-sm {
    width: 100px !important;
  }
  .col-md {
    width: 130px !important;
  }
  .rounded-circle-team {
    margin-left: 0.5rem !important;
  }
  .col-4 {
    display: none !important;
  }
  .col-8 {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0.5rem;
  }
  .interview {
    padding: 0.8rem 2rem !important;
    margin-top: -3rem !important;
    margin-left: 3rem !important;
    font-size: 1rem !important;
  }
  .bi-instagram {
    font-size: 2rem !important;
    margin-left: 15rem !important;
  }
  .bi-facebook {
    margin-left: 1.8rem !important;
    font-size: 2rem !important;
  }
  .h3-description {
    color: #024a63;
    font-family: "Cabin", sans-serif;
    font-size: 1.1rem !important;
    padding-right: 1rem !important;
    padding-left: 0.5rem !important;
    margin-bottom: 0rem !important;
  }
  .list {
    margin-top: -2rem !important;
  }
  .il {
    font-size: 1.1rem !important;
    line-height: 1.6rem;
    margin-top: 0rem !important;
    padding-right: 0.1rem;
    margin-left: -0.3rem;
  }
  .rounded {
    margin-top: 5rem;
    width: 30% !important;
  }
}
//Large Screens: Ipad Pro and Desktop
@media all and (min-width: 769px) and (max-width: 1280px) {
  section.header-image-about {
    min-height: 50vh !important;
    background: url("../imgs/aboutus/header1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    p.header-about {
      font-size: 5.5rem !important;
      margin-top: 6rem !important;
      margin-bottom: 0rem;
    }

    p.header-text-about {
      font-size: 3rem !important;
      margin-left: 3rem !important;
      margin-right: 3rem !important;
      margin-top: 0rem !important;
      margin-bottom: 4rem !important;
    }
  }
  .repeating-h2-about {
    font-size: 1.5rem !important;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .repeating-h3-about {
    font-size: 1.5rem !important;
  }
  .repeating-h3-iggy {
    color: #024a63;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-family: "Cabin", sans-serif;
    font-size: 1.8rem !important;
    font-weight: normal;
    font-style: normal;
    margin-top: -2.5rem;
    margin-bottom: 6rem;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .button-accordion-about {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    padding: 1rem 1rem 1rem 1rem !important;
    text-align: center !important;
    width: 10rem !important;
    //line-height: 30px !important;
    height: 4rem;
  }
  .rounded-circle-team {
    margin-left: -0.25rem !important;
  }
  //Learn More Container
  .container-about {
    margin: auto !important;
    background: #bededf;
    border-radius: 7rem;
    width: 68rem !important;
  }
  .container-2 {
    width: 68rem !important;
    height: 43rem !important;
    margin: auto !important;
  }
  .h3-description {
    color: #024a63;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    font-family: "Cabin", sans-serif;
    font-size: 1.2rem !important;
    font-weight: normal;
    font-style: normal;
    margin-top: -2.5rem;
    margin-bottom: -4rem;
  }
  .h3-about {
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-left: 1rem !important;
    font-size: 1.75rem !important;
  }
  .bi-instagram {
    margin-top: -5rem;
    font-size: 2.5rem;
    margin-left: 18rem;
    padding-top: 0.8rem;
  }
  .bi-facebook {
    margin-top: -5rem;
    margin-left: 2rem;
    padding-top: 0.8rem;
    font-size: 2.5rem;
  }
  .il {
    font-size: 1.5rem !important;
    padding-right: 1rem;
    line-height: 1.6rem;
    margin-top: 0.3rem !important;
  }
}
// Large Screens Bigger Headers
@media all and (min-width: 1000px) and (max-width: 1280px) {
  section.header-image-about {
    min-height: 50vh !important;
    background: url("../imgs/aboutus/header1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    p.header-about {
      font-size: 5.5rem !important;
      margin-top: 6rem;
      margin-bottom: 0rem;
    }

    p.header-text-about {
      font-size: 4rem !important;
      margin-left: 3rem !important;
      margin-right: 3rem !important;
      margin-top: 0rem !important;
      margin-bottom: 4rem;
    }
  }
  .repeating-h2-about {
    font-size: 2rem !important;
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
  }
  .repeating-h3-iggy {
    font-size: 2.3rem !important;
  }
}
