.events-cabin-large {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 8rem;
  }
  
  .events-cabin-small {
    font-family: "Cabin", sans-serif;
    font-weight: 100;
    font-size: 4rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  

  .learn-how {
    padding: 0.5rem 3.5rem;
    margin-top: -2rem;
    background: #ff7c5c;
    border: 0rem solid white;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 4.3rem;
    font-family: "Cabin", sans-serif;
  }