.header-image-events{
  min-height: 60vh;
    background: url("../imgs/events.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.events-cabin-large {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  margin-top: 5%;
}

.events-cabin-small {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.learn-how-events {
  padding: 0.5rem 3.5rem;
  margin-top: -2rem;
  margin-bottom: 0rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}
//ipad
@media (min-width: 540px) and (max-width: 1024px) {
  .events-cabin-large {
    font-size: 3rem;
    margin-top: 25%;
  }
  .events-cabin-small {
    font-size: 2rem;
  }
  .learn-how-events {
    padding: 0.5rem 2rem;
    margin-top: -1.8rem;
    font-size: 1.4rem;
  }
}

//iphone x 
@media (min-width: 280px) and (max-width: 539px) {

.events-cabin-large {
  font-weight: 700;
  font-size: 4rem;
  margin-top: 10rem;
}

.events-cabin-small {
  font-weight: 400;
  font-size: 1.8rem;
  margin-left: 5%;
  margin-right: 5%;
}

.learn-how-events {
  padding: 0.5rem 2rem;
  margin-top: -1rem;
  margin-bottom: 20rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}
}
