div.main-footer {
  overflow-y: hidden;
  position: inherit;
  background-color: #024a63;
  height: 24rem;
  width: 100%;
  padding: 4rem 5rem;
  margin-top: 0rem;
}
div.col-one {
  h1.footer-title {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: white;
  }
  p.footer-subtitle {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 2rem;
    color: white;
    width: 39.3rem;
  
  }
  .social-icons {
    .instagram {
      border: 0.1rem solid white;
      border-radius: 100%;
      padding: 1.1rem;
      margin-top: 2rem;
      
    }
    .facebook {
      border: 0.1rem solid white;
      border-radius: 100%;
      padding: 1.1rem 1.8rem;
      margin-left: 1.2rem;
      margin-top: 2rem;
    }
  }
}
div.col-two {
  p {
    position: inherit;
    display: block;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
  }
}
div.col-three {
  position: inherit;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
  display: flex;
  justify-content: center;
}
div.col-four {
  align-content: flex-end;
  button.footer-login {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Cabin", sans-serif;
    padding: 0.5rem 2rem;
    background: white;
    color: #024a63;
    border-radius: 2.4rem;
    width: 12rem;
    height: 3.9rem;

  }
  button.footer-join {
    font-family: "Cabin", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background: #ff7c5c;
    padding: 0.5rem 2rem;
    margin-top: 1.8rem;
    border-radius: 2.4rem;
    width: 12rem;
    height: 3.9rem;
  }
}
//iPhone
@media (min-width: 320px) and (max-width: 499px) {
.col-sm-3 {
  display: None !important;
}
div.col-one {
  h1.footer-title {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 3rem !important;
    color: white;
  }
  p.footer-subtitle {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 1.5rem !important;
    margin-top: 2rem;
    color: white;
    width: 39.3rem;
  }
  .instagram {
    border: 0.1rem solid white;
    border-radius: 100%;
    padding: 1.1rem !important;
    margin-top: 4rem !important;
    margin-right: 17rem !important;
    //font-size: 4rem !important;
    width: 3.5rem !important;
    }
    .facebook {
      border: 0.1rem solid white;
      border-radius: 100%;
      padding: 1.1rem !important;
      margin-left: -1rem !important;
      margin-right: 20rem !important;
      margin-top: 4rem !important;
      width: 3rem !important;
    }
  .footer-login {
    font-size: 1.5rem !important;
    font-weight: 600;
    font-family: "Cabin", sans-serif;
    padding: 0.5rem 2rem;
    background: white;
    color: #024a63;
    border-radius: 2.4rem;
    width: 8rem !important;
    height: 3rem !important;
  }
  .footer-join {
    font-family: "Cabin", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background: #ff7c5c;
    padding: 0.5rem 2rem;
    margin-top: 1.8rem;
    border-radius: 2.4rem;
    width: 8rem !important;
    height: 3rem !important;
  }
}
}

@media (min-width: 350px) and (max-width:499px) {
  .instagram{
    margin-right: 20rem !important;
  }
  .facebook {
    margin-left: 23rem !important;
  }
}
