.homepage-color {
  background: #024a63;
  color: white;
  width: 75%;
  height: 217px;
  border-radius: 5.8rem;
  // margin-left: 12%;
  // margin-right: 12%;
  margin: auto ;
  margin-top: 3rem;
}

.header-image-home {
  min-height: 60vh;
    background: url("../imgs/iggy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.learn-how {
  padding: 0.5rem 3.5rem;
  margin-top: -2rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
  z-index: 1;
}

.bi-play-circle {
  font-size: 35px;
  margin-top: -0.5rem;
  color: white;
}

.oceaneers-cabin-large {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  margin-top: 15rem;
}

.oceaneers-cabin-small {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.oceaneers-cabin {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  margin-top: 1.7rem;
}

.oceaneers-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  font-style: "Regular 400";
  text-align: center;
  justify-content: center;
  position: static;
}

.our-purpose {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  margin-top: 7rem;
  font-size: 4.5rem;
  text-align: center;
}

.our-purpose-text {
  color: #024a63;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-top: 80px;
  text-align: center;
  font-size: 3rem;
  margin-top: 1.5%;
  margin-left: 14%;
  margin-right: 14%;
}

.our-pillers-text {
  color: #024a63;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-top: 80px;
  text-align: center;
  font-size: 3rem;
  margin-top: 3%;
  margin-left: 14%;
  margin-right: 14%;
}

.accordion-home {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.accordion-body-title {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  border: none;
  text-align: center;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  background-color: #024a63;
  border-radius: 0rem 0rem 0rem 0rem;
  padding-top: 3rem;
  margin-left: 12%;
  margin-right: 12%;
  width: 75%;
  color: white;
}

.accordion-body-home {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  border: none;
  margin-left: 12%;
  margin-right: 12%;
  width: 75%;
  background-color: #024a63;
  color: white;
  border-radius: 0rem 0rem 4.3rem 4.3rem;
  margin-top: -2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.button-accordion-home {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 2.5rem;
  font-weight: 300;
  border: none;
  background-color: #024a63;
  border-radius: 4.3rem;
  color: white;
  width: 75%;
  height: 6rem;
  margin-left: 12%;
  margin-right: 12%;
  text-align: center;
}

.plus-icon {
  position: absolute;
  font-size: 2.4rem;
  right: 3rem;
  font-size: 2.5rem;
}

.card-title {
  font-family: "Cabin", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 15%;
}

.card-text {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 35%;
  margin-left: 10%;
  margin-right: 10%;
}

.card-text-brand {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 21%;
  margin-left: 10%;
  margin-right: 10%;
}

.card-text-ocean {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.why {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-align: center;
}

.learn-how-2 {
  padding: 0.5rem 3.5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}
//extra screen sizes 
@media (min-width: 1025px) and (max-width: 1400px) {
  .homepage-color {
    height: 265px;
  }
  .why {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 5rem;
  }
  .card-title {
    font-size: 2.5rem;
  }
  
  .card-text {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 15%;
   
  }
  
  .card-text-brand {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 5%;
  }
  
  .card-text-ocean {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 3%; 
  }
}

//ipad 
@media (min-width: 541px) and (max-width: 1024px) {

  .homepage-color {
    width: 75%;
    height: 200px;
  }
  .oceaneers-cabin-large {
    font-weight: 700;
    font-size: 4rem;
    margin-top: 35%;
  }
  .oceaneers-cabin-small {
    font-weight: 400;
    font-size: 2rem;
  }
  .learn-how {
    padding: 1rem 3.5rem;
  }
  .oceaneers-cabin {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 3%;
  }
  .oceaneers-raleway {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2%;
    margin-right: 2%;
  }
  .our-purpose {
    margin-top: 5rem;
    font-size: 3.5rem;
  }
  .our-purpose-text {
    font-weight: 300;
    font-size: 2.2rem;
  }
  .our-pillers-text {
    font-weight: 700;
    font-size: 3rem;
  }
  .accordion-body-title {
    font-size: 2rem;
  }
  .accordion-body-home {
    font-size: 2rem;
    font-weight: 300;
    margin-top: -2.4rem;
  }
  .button-accordion-home {
    font-size: 2rem;
    height: 5rem;
  }
  .accordion-home {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .plus-icon {
    font-size: 2rem;
  }
  .why {
    font-weight: 700;
    margin-top: 2rem;
    font-size: 3.5rem;
  }
  .card-title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .card-text {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .card-text-brand {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .card-text-ocean {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 4.5%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .learn-how-2 {
    padding: 1rem 3.5rem;
  }
  
}

//surface duo 
@media (width: 540px) {
  .homepage-color {
    width: 75%;
    height: 245px;
  }
  .oceaneers-cabin-large {
    font-weight: 700;
    font-size: 4rem;
    margin-top: 35%;
  }
  .oceaneers-cabin-small {
    font-weight: 400;
    font-size: 2rem;
  }
  .learn-how {
    padding: 0.5rem 3.5rem;
    margin-top: -2rem;
    font-size: 1.4rem;
  }
  .oceaneers-cabin {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 3%;
  }
  .oceaneers-raleway {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2%;
    margin-right: 2%;
  }
  .our-purpose {
    margin-top: 5rem;
    font-size: 3.5rem;
  }
  .our-purpose-text {
    font-weight: 300;
    font-size: 2.2rem;
  }
  .our-pillers-text {
    font-weight: 700;
    font-size: 3rem;
  }
  .accordion-body-title {
    font-size: 2rem;
  }
  .accordion-body-home {
    font-size: 2rem;
    font-weight: 300;
    margin-top: -2.3rem;
  }
  .button-accordion-home {
    font-size: 2rem;
    height: 5rem;
  }
  .accordion-home {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .plus-icon {
    font-size: 2rem;
  }
  .why {
    font-weight: 700;
    margin-top: 2rem;
    font-size: 3.5rem;
  }
  .card-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 5rem;
  }
  
  .card-text {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .card-text-brand {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .card-text-ocean {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .learn-how-2 {
    padding: 0.5rem 2rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    background: #ff7c5c;
    border: 0rem solid white;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 4.3rem;
    font-family: "Cabin", sans-serif;
  }

}

// iphone X
@media (min-width: 280px) and (max-width: 539px) {
  .learn-how {
    padding: 0.5rem 3.5rem;
    margin-top: -2rem;
    background: #ff7c5c;
    border: 0rem solid white;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 4.3rem;
    font-family: "Cabin", sans-serif;
  }
  
  .homepage-color {
    width: 80%;
    height: 290px;
  }
  .oceaneers-cabin-large {
    font-weight: 700;
    font-size: 4rem;
    margin-top: 40%;

  }
  .oceaneers-cabin-small {
    font-weight: 400;
    font-size: 2rem;
  }

  .play-icon {
    font-size: 20rem;
    position: absolute;
  }
  .oceaneers-cabin {
    font-weight: 700;
    font-size: 2.8rem;
  }
  .oceaneers-raleway {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-left: 2%;
    margin-right: 2%;
  }
  .our-purpose {
    font-weight: 700;
    margin-top: 5rem;
    font-size: 3rem;
  }
  .our-purpose-text {
    margin-top: 7rem;
    font-size: 2rem;
    margin-top: 1.5%;
  }
  .our-pillers-text {
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
  }
  .accordion-home {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .accordion-body-title {
    font-size: 1.8rem;
    margin-top: -2rem;
  }
  
  .accordion-body-home {
    font-size: 1.6rem;
    margin-top: -2.2rem;
  }
  
  .button-accordion-home {
    font-size: 2rem;
    border-radius: 4.3rem;
    height: 4rem;
  }
  .plus-icon {
    font-size: 2.4rem;
    right: 1.3rem;
    font-size: 2rem;
  }
  h1.card-title {
    font-size: 2rem;
    font-weight: 200;
    margin: auto;
  }
  
  .card-text {
    display: none;
  }
  
  .card-text-brand {
    display: none;
  }
  
  .card-text-ocean {
    display: none;
  }
  .why {
    margin-top: 5rem;
    font-size: 3rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .learn-how-2 {
    padding: 0.5rem 3.5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    background: #ff7c5c;
    border: 0rem solid white;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 4.3rem;
    font-family: "Cabin", sans-serif;
  }
}