.homepage-color {
  background: #024a63;
  color: white;
  width: 75%;
  height: 217px;
  border-radius: 5.8rem;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 8rem;

}

.learn-how {
  padding: 0.5rem 3.5rem;
  margin-top: -2rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}

.oceaneers-cabin-large {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 8rem;
}

.oceaneers-cabin-small {
  font-family: "Cabin", sans-serif;
  font-weight: 100;
  font-size: 4rem;
}

.oceaneers-cabin {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
}

.oceaneers-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 2rem;
  font-style: "Regular 400";
  text-align: center;
  justify-content: center;
}

.our-purpose {
  color: #024a63;
  font-family: "Cabin", sans-serif ;
  font-weight: 700;
  margin-top: 8rem;
  font-size: 60px;
  text-align: center;
}

.our-purpose-text {
  color: #024a63;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 80px;
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5%;
  margin-left: 229px;
  margin-right: 228px;
}

.accordion {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #e2f0ef !important;
  justify-content: center;
}

.accordion-body {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
}
.button-accordian {
  font-family: "Cabin", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem 5rem 2rem 5rem;
  background-color: #024a63;
  border: none;
  border-radius: 4.3rem;
  color: white;
  width: 32.4rem;
  justify-content: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 20px;
  margin-right: 10%;
}
