.header-image-joinus {
  min-height: 60vh;
  background: url("../imgs/Joinus/headerimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.joinus-cabin-large {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  margin-top: 15rem;
}

.joinus-cabin-small {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 10%;
}
.join-us-body {
  font-family: "cabin", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: #024a63;
  margin-bottom: 3rem;
  margin-top: 4%;
}
.repeating-h1-join {
  font-family: "Cabin", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #024a63;
  margin-bottom: 3rem;
}
.card-headers {
  text-align: center;
  font-family: "cabin", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #024a63;
  margin-bottom: 3.3rem;
}

// Form field
.form-field-card {
  background: #bededf;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5rem;
  border-radius: 4.3rem;
  padding: 3.3rem 6.5rem 3.3rem 6.5rem;

  h2.form-title-join {
    font-family: "cabin", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #024a63;
  }
  p.form-subtitle-join {
    font-family: "cabin", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: #024a63;
    margin-bottom: 2.4rem;
  }
  p.required-orange {
    color: #ff7c5c;
  }

  .join-us-form-labels {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #024a63;
  }
  // Inputs
  input[type="text"] {
    padding: 2rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  input[type="email"] {
    padding: 2rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  input[type="number"] {
    padding: 2rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  textarea[type="text"] {
    padding: 1rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  .input-rows {
    .left-col {
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }
    .right-col {
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }
  }

  .full-width {
    float: left;
    height: 4.4rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 2.4rem;
  }

  .join-us-form-checkboxes {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #024a63;
  }
  .checkboxes {
    margin-top: 5.6rem;
  }
  input.radio-button {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    border: none;
  }
  input.checkbox-join {
    margin-top: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
    border: none;
  }
  button.sign-up-btn {
    color: white;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    background-color: #ff7c5c;
    height: 4.4rem;
    width: 25.6rem;
    border-radius: 20px;
    font-family: "Cabin", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    cursor: pointer;
  }
}

/*POP UP*/

div.sign-up-popup {
  display: flex;
  align-items: center;
  background-color: #ff7c5c;
  width: 50%;
  height: 70rem;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  border-radius: 3.2rem;
  padding-bottom: 1rem;
  i.bi-plus-circle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    color: white;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .sign-up-card-header {
    font-family: "cabin", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 4rem;
  }
  #checkmark {
    margin-top: 2rem;
    width: 14.1rem;
    height: 14.1rem;
  }
  .sign-up-card-h2 {
    margin-top: 2rem;
    color: white;
    font-family: "cabin", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  .blue-line {
    width: 75%;
    height: 0.07rem;
    color: #bededf;
    border: 1.492px solid #bededf;
  }
  .sign-up-card-h3 {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1.4rem;
    color: white;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  .sign-up-card-h3-raleway {
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
  .sign-up-card-p {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }
  .social-icons-pop-up {
    align-content: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    .instagram-pop-up {
      font-size: 3rem;
      margin-right: 1rem;
    }
    .facebook-pop-up {
      display: inline;
      font-size: 3rem;
      margin-left: 1rem;
    }
  }
}
// Reduce accorions
.reduce-title {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  margin-top: 7rem;
  font-size: 4.5rem;
  text-align: center;
  background-color: white;
}
.reduce-text {
  color: #024a63;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 80px;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1.5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}

.accordion-joinus {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.accordion-body-title-joinus {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  border: none;
  text-align: center;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  background-color: #024a63;
  border-radius: 0rem 0rem 0rem 0rem;
  padding-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.accordion-body-joinus {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #024a63;
  color: white;
  border-radius: 0rem 0rem 4.3rem 4.3rem;
  margin-top: -2.2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.button-accordion-joinus {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 2.5rem;
  font-weight: 300;
  border: none;
  background-color: #024a63;
  border-radius: 4.3rem;
  color: white;
  width: 80%;
  height: 6rem;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.plus-icon-joinus {
  position: absolute;
  font-size: 2.4rem;
  right: 3rem;
  font-size: 2.5rem;
}

// TAZ CARDS
.card-headers {
  text-align: center;
  font-family: "cabin", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #024a63;
  margin-bottom: 3.3rem;
}
.join-us-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .join-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  h5 {
    text-align: center;
    padding-bottom: 10rem;
    font-family: "Cabin", sans-serif;
    font-size: 3.2rem;
  }
  .active-card-text {
    text-align: center;
    padding-bottom: 20rem;
    font-family: "Cabin", sans-serif;
    font-size: 3.2rem;
  }
  .check-email-card3 {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-bottom: 4.7rem;
  }
  .joinus-card-btn {
    background-color: #ff7c5c;
    color: white;
    font-size: 2rem;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    padding: 1rem 1.6rem;
    border-radius: 4.3rem;
    margin-bottom: 4.7rem;
  }

  .make-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(1)makeitoffical.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .commit-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(2)commit to your .jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .pay-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(3) pay R50.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .get-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(4) get access.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .salty-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(5)join our salty.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .active-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(6) be active.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
}
// POP-UP-TO-COPY
div.sign-up-popup {
  display: flex;
  align-items: center;
  background-color: #ff7c5c;
  width: 50%;
  height: 70rem;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  border-radius: 3.2rem;
  padding-bottom: 1rem;
  i.bi-plus-circle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    color: white;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .sign-up-card-header {
    font-family: "cabin", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 4rem;
  }
  #checkmark {
    margin-top: 2rem;
    width: 14.1rem;
    height: 14.1rem;
  }
  .sign-up-card-h2 {
    margin-top: 2rem;
    color: white;
    font-family: "cabin", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  .blue-line {
    width: 75%;
    height: 0.07rem;
    color: #bededf;
    border: 1.492px solid #bededf;
  }
  .sign-up-card-h3 {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1.4rem;
    color: white;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  .sign-up-card-h3-raleway {
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
  .sign-up-card-p {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }
  .social-icons-pop-up {
    align-content: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    .instagram-pop-up {
      font-size: 3rem;
      margin-right: 1rem;
    }
    .facebook-pop-up {
      display: inline;
      font-size: 3rem;
      margin-left: 1rem;
    }
  }
}

@media (min-width: 1280px) {
  .header-image-joinus {
    min-height: 60vh;
    background: url("../imgs/Joinus/headerimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .joinus-cabin-large {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 6.5rem;
    margin-top: 15rem;
  }

  .joinus-cabin-small {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 10%;
  }
  .join-us-body {
    font-family: "cabin", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #024a63;
    margin-bottom: 3rem;
    margin-top: 4%;
  }
  .repeating-h1-join {
    font-family: "Cabin", sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: #024a63;
    margin-bottom: 3rem;
  }
  .card-headers {
    text-align: center;
    font-family: "cabin", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #024a63;
    margin-bottom: 3.3rem;
  }

  // Form field

  .form-field-card {
    background: #bededf;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5rem;
    border-radius: 4.3rem;
    padding: 3.3rem 6.5rem 3.3rem 6.5rem;

    h2.form-title-join {
      font-family: "cabin", sans-serif;
      font-size: 4rem;
      font-weight: 600;
      color: #024a63;
    }
    p.form-subtitle-join {
      font-family: "cabin", sans-serif;
      font-size: 2.4rem;
      font-weight: 400;
      color: #024a63;
      margin-bottom: 2.4rem;
    }

    .join-us-form-labels {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    // Inputs
    input[type="text"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="email"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="number"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    textarea[type="text"] {
      padding: 1rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    .input-rows {
      .left-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
      .right-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
    }

    .full-width {
      float: left;
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }

    .join-us-form-checkboxes {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    .checkboxes {
      margin-top: 5.6rem;
    }
    input.radio-button {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-left: 0rem;
      border: none;
    }
    input.checkbox-join {
      margin-top: 1rem;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      border: none;
    }
    button.sign-up-btn {
      color: white;
      margin-top: 4.5rem;
      margin-bottom: 3.5rem;
      background-color: #ff7c5c;
      height: 4.4rem;
      width: 25.6rem;
      border-radius: 20px;
      font-family: "Cabin", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.4rem;
      cursor: pointer;
    }
  }
  .reduce-title {
    color: #024a63;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    margin-top: 7rem;
    font-size: 4.5rem;
    text-align: center;
    background-color: white;
  }
  .reduce-text {
    color: #024a63;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 80px;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
  }

  .accordion-joinus {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .accordion-body-title-joinus {
    font-family: "Raleway", sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-top: -2.5rem;
    margin-bottom: 2rem;
    background-color: #024a63;
    border-radius: 0rem 0rem 0rem 0rem;
    padding-top: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    color: white;
  }

  .accordion-body-joinus {
    font-family: "Raleway", sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: #024a63;
    color: white;
    border-radius: 0rem 0rem 4.3rem 4.3rem;
    margin-top: -2.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .button-accordion-joinus {
    font-family: "Cabin", sans-serif;
    position: relative;
    font-size: 2.5rem;
    font-weight: 300;
    border: none;
    background-color: #024a63;
    border-radius: 4.3rem;
    color: white;
    width: 80%;
    height: 6rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  .plus-icon-joinus {
    position: absolute;
    font-size: 2.4rem;
    right: 3rem;
    font-size: 2.5rem;
  }
  // POP-UP-TO-COPY
  div.sign-up-popup {
    display: flex;
    align-items: center;
    background-color: #ff7c5c;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    border-radius: 3.2rem;
    i.bi-plus-circle {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2.4rem;
      color: white;
      transform: rotate(45deg);
      cursor: pointer;
    }
    .sign-up-card-header {
      font-family: "cabin", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: white;
      text-align: center;
      margin-top: 4rem;
    }
    #checkmark {
      margin-top: 2rem;
      width: 14.1rem;
      height: 14.1rem;
    }
    .sign-up-card-h2 {
      margin-top: 2rem;
      color: white;
      font-family: "cabin", sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
    }
    .blue-line {
      width: 75%;
      height: 0.07rem;
      color: #bededf;
      border: 1.492px solid #bededf;
    }
    .sign-up-card-h3 {
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 1.4rem;
      color: white;
      font-family: Cabin;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: center;
    }
    .sign-up-card-h3-raleway {
      color: white;
      font-family: Raleway;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
    }
    .sign-up-card-p {
      margin-left: 10%;
      margin-right: 10%;
      font-family: Raleway;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
    }
    // i.bi-instagram {
    //   display: inline;
    //   color: white;
    //   font-size: 3rem;
    // }
    // i.bi-facebook {
    //   display: inline;
    //   color: white;
    //   font-size: 3rem;
    // }
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  // POP-UP-TO-COPY
  div.sign-up-popup {
    width: 70%;
    height: 60%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1rem;

    .sign-up-card-header {
      font-size: 3rem;
      margin-top: 3rem;
    }
    #checkmark {
      margin-top: 1.5rem;
      width: 10rem;
      height: 10rem;
    }
    .sign-up-card-h2 {
      margin-top: 1rem;
      font-size: 2.4rem;
      line-height: 24px;
    }
    .sign-up-card-h3 {
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 1.4rem;
      font-size: 2.4rem;
      line-height: 3rem;
    }
    .sign-up-card-h3-raleway {
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
    }
    .sign-up-card-p {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
    .social-icons-pop-up {
      align-content: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      .instagram-pop-up {
        font-size: 3rem;
        margin-right: 1rem;
      }
      .facebook-pop-up {
        display: inline;
        font-size: 3rem;
        margin-left: 1rem;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .joinus-cabin-large {
    font-size: 4rem;
    margin-top: 15rem;
  }
  .joinus-cabin-small {
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .join-us-body {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
    margin-top: 4%;
  }
  .repeating-h1-join {
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
  }

  // Cards
  .card-headers {
    text-align: center;
    font-family: "cabin", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #024a63;
    margin-bottom: 3.3rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .join-us-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    margin-bottom: 2rem;

    .join-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    h5 {
      text-align: center;
      padding-bottom: 0rem;
      font-family: "Cabin", sans-serif;
      font-size: 1.6rem;
    }
    .active-card-text {
      text-align: center;
      padding-bottom: 10rem;
      font-family: "Cabin", sans-serif;
      font-size: 1.6rem;
    }
    .check-email-card3 {
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      font-size: 1.6rem;
      color: white;
      margin-bottom: 4.7rem;
    }
    .joinus-card-btn {
      background-color: #ff7c5c;
      color: white;
      font-size: 2rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      padding: 1rem 1.6rem;
      border-radius: 4.3rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .make-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(1)makeitoffical.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    .commit-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(2)commit to your .jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    .pay-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(3) pay R50.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;

      display: flex;

      align-items: center;
      margin-bottom: 1rem;
    }
    .get-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(4) get access.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;

      display: flex;

      align-items: center;
      margin-bottom: 1rem;
    }
    .salty-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(5)join our salty.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;

      display: flex;

      align-items: center;
      margin-bottom: 1rem;
    }
    .active-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(6) be active.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;

      display: flex;

      align-items: center;
      margin-bottom: 1rem;
    }
  }

  // Form Card
  .form-field-card {
    margin-top: 3rem;
    border-radius: 4.3rem;
    padding: 3.3rem 2rem 1rem 2rem;

    h2.form-title-join {
      font-size: 2.2rem;
      text-align: center;
    }
    p.form-subtitle-join {
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }

    .join-us-form-labels {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    // Inputs
    input[type="text"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="email"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="number"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    textarea[type="text"] {
      padding: 1rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    .input-rows {
      .left-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
      .right-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
    }

    .full-width {
      float: left;
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }

    .join-us-form-checkboxes {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    .checkboxes {
      margin-top: 5.6rem;
    }
    input.radio-button {
      width: 2.4rem;
      min-width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-left: 0rem;
      border: none;
    }
    input.checkbox-join {
      margin-top: 1rem;
      width: 2.4rem;
      min-width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      border: none;
    }
    button.sign-up-btn {
      margin-top: 4.5rem;
      margin-bottom: 3.5rem;
      height: 4.4rem;
      width: 22rem;
      border-radius: 20px;
      font-family: "Cabin", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.4rem;
      cursor: pointer;
    }
  }
  // Reduce Section
  .reduce-title {
    margin-top: 4rem;
    font-size: 2.8rem;
  }
  .reduce-text {
    margin-top: 80px;
    font-size: 1.8rem;
    margin-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .button-accordion-joinus {
    font-size: 2rem;
    width: 80%;
    height: 6rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  // POP-UP-TO-COPY
  div.sign-up-popup {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1rem;
    i.bi-plus-circle {
      top: 1rem;
      right: 1rem;
    }
    .sign-up-card-header {
      font-size: 2.8rem;
    }
    #checkmark {
      margin-top: 1rem;
      width: 6rem;
      height: 6rem;
    }
    .sign-up-card-h2 {
      margin-top: 1rem;
      font-size: 2rem;
      letter-spacing: 0em;
      text-align: center;
    }
    .sign-up-card-h3 {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
    }
    .sign-up-card-h3-raleway {
      font-size: 1.6rem;
      font-style: normal;
      line-height: 32px;
      margin-bottom: 1rem;
    }
    .sign-up-card-p {
      margin-left: 5%;
      margin-right: 5%;
      font-size: 1.4rem;
      line-height: 24px;
      letter-spacing: 0em;
    }
    .social-icons-pop-up {
      align-content: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      .instagram-pop-up {
        font-size: 3rem;
        margin-right: 1rem;
      }
      .facebook-pop-up {
        display: inline;
        font-size: 3rem;
        margin-left: 1rem;
      }
    }
  }
}
