.header-image-joinus {
  min-height: 60vh;
  background: url("../imgs/Joinus/headerimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.joinus-cabin-large {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  margin-top: 15rem;
}

.joinus-cabin-small {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 10%;
}
.join-us-body {
  font-family: "cabin", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: #024a63;
  margin-bottom: 3rem;
  margin-top: 4%;
}
.repeating-h1-join {
  font-family: "Cabin", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #024a63;
  margin-bottom: 3rem;
}
.card-headers {
  text-align: center;
  font-family: "cabin", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #024a63;
  margin-bottom: 3.3rem;
}

// .joinus-image-left-col {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   flex-direction: column;
//   position: relative;
//   width: 50%;
//   max-width: 56.98rem;
//   margin-left: 10%;
//   margin-bottom: 5.37rem;

//   p.joinus-card-text {
//     position: absolute;
//     bottom: 14.6rem;
//     font-family: "Cabin", sans-serif;
//     font-size: 3.2rem;
//     font-weight: 600;
//     color: white;
//     margin-left: 4rem;
//     margin-right: 4rem;
//   }
//   .check-email-card3 {
//     position: absolute;
//     bottom: 4.7rem;
//     font-family: "Cabin", sans-serif;
//     font-weight: 600;
//     font-size: 2rem;
//     color: white;
//   }
//   .joinus-card-btn {
//     position: absolute;
//     bottom: 4.7rem;
//     background-color: #ff7c5c;
//     color: white;
//     font-size: 2rem;
//     font-family: "Cabin", sans-serif;
//     font-weight: 600;
//     padding: 1rem 1.6rem;
//     border-radius: 4.3rem;
//   }
// }

// .joinus-image-right-col {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   flex-direction: column;
//   position: relative;
//   width: 50%;
//   max-width: 56.98rem;
//   margin-right: 10%;
//   margin-bottom: 5.37rem;
//   .joinus-card-text {
//     position: absolute;
//     bottom: 14.6rem;
//     font-family: "Cabin", sans-serif;
//     font-size: 3.2rem;
//     font-weight: 600;
//     color: white;
//     margin-left: 4rem;
//     margin-right: 4rem;
//   }
//   .joinus-card-btn {
//     position: absolute;
//     background-color: #ff7c5c;
//     bottom: 4.7rem;
//     color: white;
//     font-size: 2rem;
//     font-family: "Cabin", sans-serif;
//     font-weight: 600;
//     padding: 1rem 1.6rem;
//     border-radius: 4.3rem;
//   }
// }

// Form field
.form-field-card {
  background: #bededf;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5rem;
  border-radius: 4.3rem;
  padding: 3.3rem 6.5rem 3.3rem 6.5rem;

  h2.form-title-join {
    font-family: "cabin", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #024a63;
  }
  p.form-subtitle-join {
    font-family: "cabin", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: #024a63;
    margin-bottom: 2.4rem;
  }

  .join-us-form-labels {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #024a63;
  }
  // Inputs
  input[type="text"] {
    padding: 2rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  input[type="email"] {
    padding: 2rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  input[type="number"] {
    padding: 2rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  textarea[type="text"] {
    padding: 1rem;
    font-size: 2rem;
    font-family: "raleway", sans-serif;
  }
  .input-rows {
    .left-col {
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }
    .right-col {
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }
  }

  .full-width {
    float: left;
    height: 4.4rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 2.4rem;
  }

  .join-us-form-checkboxes {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #024a63;
  }
  .checkboxes {
    margin-top: 5.6rem;
  }
  input.radio-button {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    border: none;
  }
  input.checkbox-join {
    margin-top: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
    border: none;
  }
  button.sign-up-btn {
    color: white;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    background-color: #ff7c5c;
    height: 4.4rem;
    width: 25.6rem;
    border-radius: 20px;
    font-family: "Cabin", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    cursor: pointer;
  }
}
// Reduce accorions
.reduce-title {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  margin-top: 7rem;
  font-size: 4.5rem;
  text-align: center;
  background-color: white;
}
.reduce-text {
  color: #024a63;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 80px;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1.5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}

.accordion-joinus {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.accordion-body-title-joinus {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  border: none;
  text-align: center;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  background-color: #024a63;
  border-radius: 0rem 0rem 0rem 0rem;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: white;
}

.accordion-body-joinus {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #024a63;
  color: white;
  border-radius: 0rem 0rem 4.3rem 4.3rem;
  margin-top: -2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.button-accordion-joinus {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 2.5rem;
  font-weight: 300;
  border: none;
  background-color: #024a63;
  border-radius: 4.3rem;
  color: white;
  width: 80%;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.plus-icon-joinus {
  position: absolute;
  font-size: 2.4rem;
  right: 3rem;
  font-size: 2.5rem;
}

// TAZ CARDS
.card-headers {
  text-align: center;
  font-family: "cabin", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #024a63;
  margin-bottom: 3.3rem;
}
.join-us-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .join-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  h5 {
    text-align: center;
    padding-bottom: 10rem;
    font-family: "Cabin", sans-serif;
    font-size: 3.2rem;
  }
  .active-card-text {
    text-align: center;
    padding-bottom: 20rem;
    font-family: "Cabin", sans-serif;
    font-size: 3.2rem;
  }
  .check-email-card3 {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-bottom: 4.7rem;
  }
  .joinus-card-btn {
    background-color: #ff7c5c;
    color: white;
    font-size: 2rem;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    padding: 1rem 1.6rem;
    border-radius: 4.3rem;
    margin-bottom: 4.7rem;
  }

  .make-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(1)makeitoffical.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .commit-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(2)commit to your .jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .pay-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(3) pay R50.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .get-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(4) get access.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .salty-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(5)join our salty.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
  .active-card-itself {
    border: solid;
    background: url("../imgs/Joinus/(6) be active.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56.9rem;
    height: 39.6rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1280px) {
  .header-image-joinus {
    min-height: 60vh;
    background: url("../imgs/Joinus/headerimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .joinus-cabin-large {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 6.5rem;
    margin-top: 15rem;
  }

  .joinus-cabin-small {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 10%;
  }
  .join-us-body {
    font-family: "cabin", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #024a63;
    margin-bottom: 3rem;
    margin-top: 4%;
  }
  .repeating-h1-join {
    font-family: "Cabin", sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: #024a63;
    margin-bottom: 3rem;
  }
  .card-headers {
    text-align: center;
    font-family: "cabin", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #024a63;
    margin-bottom: 3.3rem;
  }

  div.joinus-image-left-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    max-width: 56.98rem;
    margin-left: 10%;
    margin-bottom: 5.37rem;

    p.joinus-card-text {
      position: absolute;
      bottom: 14.6rem;
      font-family: "Cabin", sans-serif;
      font-size: 3.2rem;
      font-weight: 600;
      color: white;
      margin-left: 4rem;
      margin-right: 4rem;
    }
    .check-email-card3 {
      position: absolute;
      bottom: 4.7rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      color: white;
    }
    .joinus-card-btn {
      position: absolute;
      bottom: 4.7rem;
      background-color: #ff7c5c;
      color: white;
      font-size: 2rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      padding: 1rem 1.6rem;
      border-radius: 4.3rem;
    }
  }

  .joinus-image-right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    max-width: 56.98rem;
    margin-right: 10%;
    margin-bottom: 5.37rem;
    .joinus-card-text {
      position: absolute;
      bottom: 14.6rem;
      font-family: "Cabin", sans-serif;
      font-size: 3.2rem;
      font-weight: 600;
      color: white;
      margin-left: 4rem;
      margin-right: 4rem;
    }
    .joinus-card-btn {
      position: absolute;
      background-color: #ff7c5c;
      bottom: 4.7rem;
      color: white;
      font-size: 2rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      padding: 1rem 1.6rem;
      border-radius: 4.3rem;
    }
  }

  // Form field

  .form-field-card {
    background: #bededf;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5rem;
    border-radius: 4.3rem;
    padding: 3.3rem 6.5rem 3.3rem 6.5rem;

    h2.form-title-join {
      font-family: "cabin", sans-serif;
      font-size: 4rem;
      font-weight: 600;
      color: #024a63;
    }
    p.form-subtitle-join {
      font-family: "cabin", sans-serif;
      font-size: 2.4rem;
      font-weight: 400;
      color: #024a63;
      margin-bottom: 2.4rem;
    }

    .join-us-form-labels {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    // Inputs
    input[type="text"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="email"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="number"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    textarea[type="text"] {
      padding: 1rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    .input-rows {
      .left-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
      .right-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
    }

    .full-width {
      float: left;
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }

    .join-us-form-checkboxes {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    .checkboxes {
      margin-top: 5.6rem;
    }
    input.radio-button {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-left: 0rem;
      border: none;
    }
    input.checkbox-join {
      margin-top: 1rem;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      border: none;
    }
    button.sign-up-btn {
      color: white;
      margin-top: 4.5rem;
      margin-bottom: 3.5rem;
      background-color: #ff7c5c;
      height: 4.4rem;
      width: 25.6rem;
      border-radius: 20px;
      font-family: "Cabin", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.4rem;
      cursor: pointer;
    }
  }
  .reduce-title {
    color: #024a63;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    margin-top: 7rem;
    font-size: 4.5rem;
    text-align: center;
    background-color: white;
  }
  .reduce-text {
    color: #024a63;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 80px;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1.5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
  }

  .accordion-joinus {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .accordion-body-title-joinus {
    font-family: "Raleway", sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
    border: none;
    text-align: center;
    margin-top: -2.5rem;
    margin-bottom: 2rem;
    background-color: #024a63;
    border-radius: 0rem 0rem 0rem 0rem;
    padding-top: 3rem;
    margin-left: 12%;
    margin-right: 12%;
    width: 80%;
    color: white;
  }

  .accordion-body-joinus {
    font-family: "Raleway", sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
    border: none;
    margin-left: 12%;
    margin-right: 12%;
    width: 80%;
    background-color: #024a63;
    color: white;
    border-radius: 0rem 0rem 4.3rem 4.3rem;
    margin-top: -2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .button-accordion-joinus {
    font-family: "Cabin", sans-serif;
    position: relative;
    font-size: 2.5rem;
    font-weight: 300;
    border: none;
    background-color: #024a63;
    border-radius: 4.3rem;
    color: white;
    width: 80%;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .plus-icon-joinus {
    position: absolute;
    font-size: 2.4rem;
    right: 3rem;
    font-size: 2.5rem;
  }
}
@media (min-width: 500px) {
  .repeating-h1-join {
    font-family: "Cabin", sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: #024a63;
  }
  .card-headers {
    text-align: center;
    font-family: "cabin", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #024a63;
    margin-bottom: 2.4rem;
  }
  // Form field
  .form-field-card {
    background: #bededf;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5rem;
    border-radius: 4.3rem;
    padding: 3.3rem 6.5rem 3.3rem 6.5rem;

    .form-title-join {
      font-family: "cabin", sans-serif;
      font-size: 4rem;
      font-weight: 600;
      color: #024a63;
    }
    .form-subtitle-join {
      font-family: "cabin", sans-serif;
      font-size: 2.4rem;
      font-weight: 400;
      color: #024a63;
      margin-bottom: 2.4rem;
    }

    .join-us-form-labels {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    // Inputs
    input[type="text"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="email"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="number"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    textarea[type="text"] {
      padding: 1rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    .input-rows {
      .left-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
      .right-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
    }

    .full-width {
      float: left;
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }

    .join-us-form-checkboxes {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    .checkboxes {
      margin-top: 5.6rem;
    }
    input.radio-button {
      width: 2.4rem;
      min-width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-left: 0rem;
      border: none;
    }
    input.checkbox-join {
      margin-top: 1rem;
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      border: none;
    }
    button.sign-up-btn {
      color: white;
      margin-top: 4.5rem;
      margin-bottom: 3.5rem;
      background-color: #ff7c5c;
      height: 4.4rem;
      width: 25.6rem;
      border-radius: 20px;
      font-family: "Cabin", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.4rem;
      cursor: pointer;
    }
  }
  div.joinus-image-left-col {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    // width: 50%;
    max-width: 56.98rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5.37rem;

    p.joinus-card-text {
      position: absolute;
      bottom: 1rem;
      font-family: "Cabin", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      color: white;
      margin-left: 4rem;
      margin-right: 4rem;
    }
    .check-email-card3 {
      position: absolute;
      bottom: 4.7rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      font-size: 2rem;
      color: white;
    }
    .joinus-card-btn {
      position: absolute;
      bottom: 4.7rem;
      background-color: #ff7c5c;
      color: white;
      font-size: 2rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      padding: 1rem 1.6rem;
      border-radius: 4.3rem;
    }
  }

  .joinus-image-right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    max-width: 56.98rem;
    margin-right: 10%;
    margin-bottom: 5.37rem;
    .joinus-card-text {
      position: absolute;
      bottom: 14.6rem;
      font-family: "Cabin", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      color: white;
      margin-left: 4rem;
      margin-right: 4rem;
    }
    .joinus-card-btn {
      position: absolute;
      background-color: #ff7c5c;
      bottom: 4.7rem;
      color: white;
      font-size: 2rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      padding: 1rem 1.6rem;
      border-radius: 4.3rem;
    }
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  .joinus-cabin-large {
    font-size: 4rem;
    margin-top: 15rem;
  }
  .joinus-cabin-small {
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .join-us-body {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
    margin-top: 4%;
  }
  .repeating-h1-join {
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
  }
  .card-headers {
    font-size: 2rem;
    margin-bottom: 3.3rem;
  }

  // Cards
  .card-headers {
    text-align: center;
    font-family: "cabin", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #024a63;
    margin-bottom: 3.3rem;
  }
  .join-us-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .join-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    h5 {
      text-align: center;
      padding-bottom: 0rem;
      font-family: "Cabin", sans-serif;
      font-size: 1.6rem;
    }
    .active-card-text {
      text-align: center;
      padding-bottom: 10rem;
      font-family: "Cabin", sans-serif;
      font-size: 1.6rem;
    }
    .check-email-card3 {
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      font-size: 1.6rem;
      color: white;
      margin-bottom: 4.7rem;
    }
    .joinus-card-btn {
      background-color: #ff7c5c;
      color: white;
      font-size: 2rem;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      padding: 1rem 1.6rem;
      border-radius: 4.3rem;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .make-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(1)makeitoffical.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    .commit-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(2)commit to your .jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    .pay-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(3) pay R50.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      // margin-left: 50%;
      display: flex;
      // flex-direction: column;
      // justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;
    }
    .get-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(4) get access.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      // margin-left: 50%;
      display: flex;
      // flex-direction: column;
      // justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;
    }
    .salty-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(5)join our salty.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      // margin-left: 50%;
      // margin-right: 25%;
      display: flex;
      // flex-direction: column;
      // justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;
    }
    .active-card-itself {
      border: solid;
      background: url("../imgs/Joinus/(6) be active.jpg");
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30rem;
      height: 20.9rem;
      // margin-left: 27%;
      // margin-right: 25%;
      display: flex;
      // flex-direction: column;
      // // justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  // Form Card
  .form-field-card {
    margin-top: 5rem;
    border-radius: 4.3rem;
    padding: 3.3rem 2rem 1rem 2rem;

    h2.form-title-join {
      font-size: 2.2rem;
      text-align: center;
    }
    p.form-subtitle-join {
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }

    .join-us-form-labels {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    // Inputs
    input[type="text"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="email"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    input[type="number"] {
      padding: 2rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    textarea[type="text"] {
      padding: 1rem;
      font-size: 2rem;
      font-family: "raleway", sans-serif;
    }
    .input-rows {
      .left-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
      .right-col {
        height: 4.4rem;
        border-radius: 2rem;
        border: none;
        margin-bottom: 2.4rem;
      }
    }

    .full-width {
      float: left;
      height: 4.4rem;
      border-radius: 2rem;
      border: none;
      margin-bottom: 2.4rem;
    }

    .join-us-form-checkboxes {
      font-family: "Cabin", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #024a63;
    }
    .checkboxes {
      margin-top: 5.6rem;
    }
    input.radio-button {
      width: 2.4rem;
      min-width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-left: 0rem;
      border: none;
    }
    input.checkbox-join {
      margin-top: 1rem;
      width: 2.4rem;
      min-width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      border: none;
    }
    button.sign-up-btn {
      margin-top: 4.5rem;
      margin-bottom: 3.5rem;
      height: 4.4rem;
      width: 22rem;
      border-radius: 20px;
      font-family: "Cabin", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.4rem;
      cursor: pointer;
    }
  }
}
