.card {
  border: none;
}
.header {
  font-family: "Cabin", sans-serif;
  font-size: 6.5rem;
  font-weight: 700;
  margin-top: 9.2rem;
}

.header-text {
  font-family: "Cabin", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 2.8rem 9.5rem 11.3rem 9.5rem;
}
// ORANGE BUTTON
.learn-how-partners {
  padding: 0.5rem 3.5rem;
  margin-top: -2rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
}
// Quote Block
.quote {
  color: #024a63;
  margin-top: 3.7rem;
  margin-bottom: 4.8rem;
  font-family: "Cabin", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  padding-left: 11rem;
  padding-right: 11rem;
}

// Repeating h1,h2
.repeating-h1 {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  margin-top: 4rem;
}
.repeating-h2 {
  color: #024a63;
  font-family: "Cabin", sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  margin: 1.6rem 25rem 1rem 25rem;
  line-height: 3.5rem;
}

// Grid carousel

.slide {
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.card-title {
  font-family: "Cabin", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.card-text {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.bi-arrow-right-circle {
  position: absolute;
  font-size: 3.6rem;
  top: 6rem;
  right: 0rem;
  color: black;
}
.bi-arrow-left-circle {
  position: absolute;
  font-size: 3.6rem;
  top: 6rem;
  left: 0rem;
  color: black;
}
.filled-circle {
  border-radius: 100%;
  width: 1.2rem !important;
  height: 1.2rem !important;
}

// Circle Carousels

.rounded-circle {
  width: 35.8rem;
  height: 35.8rem;
  padding: 3.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 4.8rem;
  background-color: #e2f0ef !important;
}

// Drop Downs
.accordion-partners {
  .accordion-body {
    background-color: #e2f0ef;
    margin-top: -4rem;
    width: 32.4rem;
    border-radius: 0rem 0rem 4.3rem 4.3rem;
  }
  .text-accordion {
    background-color: #e2f0ef;
    font-family: "Raleway", sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    padding-top: 4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .button-accordion {
    font-family: "Cabin", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: #024a63;
    margin-top: 2.4rem;
    border: none;
    border-radius: 4.3rem;
    color: white;
    height: 7.4rem;
    width: 32.4rem;
    position: relative;
  }

  .plus-icon-partners {
    position: absolute;
    right: 1.6rem;
    top: 2.4rem;
    font-size: 2.4rem;
  }
}
