.intro-why {
  min-height: 60vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../imgs/whyIntro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .title-why {
    font-size: 6.5rem;
    font-weight: 700;
  }

  .desc-why {
    font-size: 3rem;
    font-weight: 400;
  }
}

.learn-how-why {
  padding: 0.5rem 3.5rem;
  margin-top: -2rem;
  background: #ff7c5c;
  border: 0rem solid white;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 4.3rem;
  font-family: "Cabin", sans-serif;
  z-index: 1;
}

/* -------------------------------------------  */

.compare {
  min-height: 50vh;
  width: 100%;
  margin: auto;

  .indust {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    .sub-title-why {
      font-size: 4.5rem;
      font-weight: bold;
      color: #024a63;
    }

    .sub-desc-why {
      font-size: 2.4rem;
      font-weight: normal;
      color: #024a63;
    }
  }

  .indust-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .indust-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .card-itself {
    border: solid;
    background: url("../imgs/bridge-water.png");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 55rem;
    height: 45rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 3rem;
    margin-bottom: 1rem;

    h5 {
      font-size: 3rem;
    }

    h6 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  .non-indust-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .card-itself-two {
    border: solid;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url("../imgs/camel.png");
    width: 55rem; //
    height: 45rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 3rem;
    margin: 0rem 3rem;
    margin: 0rem 3rem;
    margin-bottom: 1rem;

    .card-itself-two-content {
      margin: 29rem 0rem;
    }

    h5 {
      font-size: 3rem;
    }

    h6 {
      font-size: 2rem;
    }
  }
}

// Accordion Stuff
.accordion-why {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.accordion-body-why {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  border: none;
  width: 45rem;
  background-color: #024a63;
  color: white;
  border-radius: 0rem 0rem 4.3rem 4.3rem;
  margin-top: -2.3rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.button-accordion-why {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 2.3rem;
  font-weight: 300;
  border: none;
  background-color: #024a63;
  border-radius: 4.3rem;
  color: white;
  width: 45rem;
  height: 5.5rem;

  text-align: center;
}

.plus-icon-why {
  position: absolute;
  font-size: 2.4rem;
  right: 3rem;
  font-size: 2.5rem;
}

// End off accordian stuff

.hrLine {
  margin-left: 50%;
  margin-right: 50%;
  hr {
    border: 3px solid #bededf;
  }
}

.further-explanation {
  min-height: 50vh;

  .explanation-content {
    text-align: center;
    h2 {
      font-size: 4.5rem;
      font-weight: bold;
      color: #024a63;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    h4 {
      font-size: 2.2rem;
      font-weight: normal;
      color: #024a63;
      padding-bottom: 1rem;
    }
  }
}

.why-carousel {
  min-height: 50vh;
  .carousel-title-why {
    display: flex;
    justify-content: center;
    text-align: center;
    h3 {
      font-size: 4.5rem;
      font-weight: bold;
      color: #024a63;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 0rem;
    }
  }

  .slide-why {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.infographic {
  min-height: 40vh;
  div {
    border-radius: 10rem;
    background: url("../imgs/infographic.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 95%;
    margin: auto;
    height: 100rem;
  }
}

/* mobile responsive */

@media screen and (max-width: 1091px) {
  .title-why {
    font-size: 5.5rem !important;
  }
  .desc-why {
    font-size: 2.5rem !important;
  }
  .intro-why {
    .title {
      font-size: 4rem;
    }
    .desc {
      font-size: 2rem;
    }
  }

  .indust {
    .sub-title-why {
      font-size: 4rem !important;
    }

    .sub-desc-why {
      font-size: 2rem !important;
    }
  }

  .card-itself,
  .card-itself-two {
    width: 45rem !important;
    height: 35rem !important;
  }

  .card-itself-two-content {
    margin: 12rem 0rem;
  }

  .explanation-content {
    h2 {
      font-size: 4rem !important;
    }

    h4 {
      font-size: 2rem !important;
    }
  }

  .carousel-title-why {
    h3 {
      font-size: 4rem !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .compare {
    p .sub-title-why {
      font-size: 3.5rem !important;
    }

    .sub-desc-why {
      font-size: 1.5rem !important;
    }
  }

  .explanation-content {
    h2 {
      font-size: 3rem !important;
    }
    h4 {
      font-size: 1.5rem !important;
      line-height: 2.5rem;
    }
  }

  .card-itself-two {
  }
}

//iphone
@media screen and (max-width: 375px) {
  .title-why {
    font-size: 4rem !important;
    font-weight: 700;
    margin-top: 20%;
  }

  .desc-why {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .indust {
    .sub-title-why {
      font-size: 3rem !important;
      font-weight: 700;
      margin-top: 2%;
    }

    .sub-desc-why {
      font-size: 2rem !important;
      font-weight: 300;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  // this is not working! 
  .further-explanation {
    .explanation-content {
      h2 {
        font-size: 3rem !important;
        font-weight: 700;
        color: #024a63;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  // need to add the changes to the section before slides

  .explanation-content {
    h2 {
      font-size: 1.5rem !important;
    }
  }

  .card-itself {
    border: solid;
    background: url("../imgs/bridge-water.png");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // width: 55rem;
    // height: 45rem;
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 3rem;
    margin-bottom: 1rem;
    width: 30rem !important;

    h5 {
      font-size: 3rem;
    }

    h6 {
      font-size: 2rem;
      margin-bottom: 3rem;
      margin-left: 3%;
      margin-right: 3%;
    }
  }

  .card-itself-two {
    width: 30rem !important;

    .card-itself-two-content {
      margin: 29rem 0rem;
    }

    h5 {
      font-size: 3rem !important;
      margin-top: -18rem;
    }

    h6 {
      font-size: 2rem;
      margin-left: 3%;
      margin-right: 3%;
    }
  }

  .non-indust-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // margin-left: 10%;
    // margin-right: 10%;
  }
  .indust-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // margin-left: 10%;
    // margin-right: 10%;
  }
  .indust-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // width: 50%;
  }

  .accordion-why {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .accordion-body-why {
    font-size: 2rem;
    width: 35rem;
  }

  .button-accordion-why {
    font-size: 1.9rem;
    width: 35rem;
  }

  .plus-icon-why {
    right: 1.2rem;
    font-size: 2.5rem;
    margin-top: -0.3rem;
  }



  .infographic {
    min-height: 40vh;
  
    div {
      border-radius: 10rem;
      background: url("../imgs/infographic.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 75% !important;
      margin: auto;
      height: 100rem;
    }
  }

  .why-carousel {
    min-height: 50vh;
    .carousel-title-why {
      display: flex;
      justify-content: center;
      text-align: center;
      h3 {
        font-size: 4.5rem;
        font-weight: bold;
        color: #024a63;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0rem;
      }
    }
  
    .slide-why {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

}
