* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// sets the font size to 10 px so we can use rems easily

html {
  font-size: 62.5%; // 1 rem = 10px;
  font-family: "Cabin", sans-serif;
}

// import partials for scss and import fonts here !

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./navbar";
@import "./why";
@import "./newsletter";

$hero-height: 60vh;

.hero-section {
  background: url("https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg")
    50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
}
